<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
<link rel="stylesheet" href="homepagedesign.css" />
<link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,500&display=swap" rel="stylesheet">
</head>
<body>

<div class="headWelcome" >
    <div class="topHead" style="background: linear-gradient(to bottom, #4caf50 0%, #80bd5f 100%); height: 90px;"></div>
    <div class="downHead" style="background-color: white; height: 90px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"></div>
    <img src="logoShape.png" style="position:relative;left:700px;top:-180px;width: 330px;height: 180px;" alt="shape">
    <h1 style="position:relative;top:-300px;color: white; left:785px; font-family: 'Exo', sans-serif;">Auto shop</h1>
</div>

<div class="menuHead" style="position: relative;height: 100px; left:550px; width: 700px; top:-260px;">
<button class="menuButton" style="position: relative; " onclick="movWhatsNewPage()">מה חדש</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="movConnectPage()">צרו קשר</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="movAboutPage()">אודות</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="moveBuyPage()">רכישת סל</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="moveHomePage()">דף הבית</button>
</div>

<div class="main page" style="position:relative;top:-200px;">
    <h2 style="font-family: Assistant;position: relative; left:700px; top:-70px; color:gray;">הספקים עימם אתרנו משתף פעולה</h2>
<div class="supplier" style="position: relative; top:-50px;">


    <div class="centered">

    <div class="row">

  <div class="column" style="position: relative;
">

      <img src="kishorit.jpg" style="border-radius: 30px;" alt="kishorit">
    <h2 style="font-family: Assistant;">כישורית</h2>

<div class="circle" style="background: #f7fbf6; border-radius: 5000px;">
<p style="font-family: Assistant;color: gray">כישורית הינה בית לחיים לבוגרים בעלי צרכים מיוחדים בתחום הנפשי, ההתפתחותי והרגשי.

כישורית ממוקמת על אדמות קיבוץ כישור שבגליל המערבי, ושתי הקהילות, כישורית וכישור, מהוות ביחד מודל שילובי ייחודי בו גרים זה לצד זה אנשים "רגילים"

ובעלי צרכים מיוחדים. החיבור הזה מאפשר לבוגרים בעלי הצרכים המיוחדים, אשר חוו פעמים רבות במהלך חייהם ניכור, בדידות והרחקה, לחוות שייכות חברתית

    ושותפות קהילתית.</p>  </div></div>

  <div class="column">
      <img src="dov.png" alt="Dov">

    <h2 style="font-family: Assistant;">דוב</h2>
      <div class="circle" style="background: #f7fbf6; border-radius: 50000px;">
<p style="font-family: Assistant;color: gray">
דוב מרקט הוקם על ידי חקלאים מובילים מהגליל במטרה להביא לכם את סל הפירות והירקות האיכותיים והטריים ביותר בישראל. ישירות אליכם עד הבית. אנו קבוצה של חקלאים מובילים המבינים בפירות וירקות. אתם מזמינים ואנו מקלטים תוך בחירה קפדנית של פירות איכותיים וטריים. אין לנו מלאים שמתיישנים על המדף, כך שהפירות והירקות טריים-טריים</p>   </div>
  </div>
  <div class="column">
<img src="sultan.jpg" style="border-radius: 30px;" alt="sultan">
      <h2 style="font-family: Assistant;">סולטן</h2>
      <div class="circle" style="background: #f7fbf6; border-radius: 5000px;">
    <p style="font-family: Assistant;color: gray">מגדלים את הנבטים באופן אורגני לחלוטין בלי ריסוסים ותוספות כימיים.
את הנבטים אנו קוצרים זמן קצר ככל האפשר לפני השיווק על מנת שיגיעו
אליכם טריים ביותר, בכדי לשמר את הערכים התזונתיים הרבים שבהם.
הנבטים ארוזים בשקיות מתכלות מעמילן תירס, אותם יש לזרוק לקומפוסט.מוכרים בשיטת שיווק ישיר מהמגדל ישירות לצרכן וכן דרך קואפרטיבים מקומיים, נקודות מכירה של ירקות אורגנים
ומגדלים מקומיים.</p>
  </div></div>
    </div>
</div>
</div>
    </div>

<div class="w3-content w3-section" style="position:relative;top:-400px;left:1450px;max-width:443px; max-height: 300px;">
  <img class="mySlides" src="1.jpg" style="width:100%;border-bottom-right-radius:30px;">
  <img class="mySlides" src="2.jpg" style="width:100%;border-bottom-right-radius:30px;">
  <img class="mySlides" src="3.jpg" style="width:100%;border-bottom-right-radius:30px;">
  <img class="mySlides" src="4.jpg" style="width:100%;border-bottom-right-radius:30px;">
</div>

<div class="centered" style="top:814px;color:white; left:350px;background: linear-gradient(to bottom, #4caf50 0%, #80bd5f 100%); height: 70px;width: 1100px; ">
    <button class="buybtn" style="font-family: Assistant;background-color: transparent;border: none;color:white;position:relative;top:15px;font-size: 30px;linear-gradient(to bottom, #4caf50 0%, #80bd5f 100%); "onclick="moveBuyPage()">לחצו כאן להזמנת סל</button>
</div>
<img src="shopcart.png" style="position:relative;top:-112px;left:378px;height: 67px;width: 59px;" style="border-radius: 30px;" alt="cart">

<div class="column" style="position:relative;top:-704px;border-bottom-left-radius:20px;background: linear-gradient(to bottom, white 30%, #80bd5f 100%);height: 630px;width:305px;">
<h1 style="font-size: 30px;font-family: Assistant;text-align: center;color: #80bd5f">חדשות אחרונות</h1>
    <div class="holder">
  <ul id="ticker01">
      <span style="color: gray">נוסף ספק חדש: דוב מרקט (5.5.21)</span>
      <span style="color: gray"><br><br>נוספה אפשרות לפיצול הזמנה (10.5.21)</span>
      <span style="color: gray"><br><br>סודר הבאג והשמות מסודרים באופן תקין (11.5.21)</span>
      <span style="color: gray"><br><br>נוספה אפשרות לפיצול הזמנה (10.5.21)</span>

  </ul>
</div>
</div>

<script>

    function loginFunc() {

    }
function moveProdPage() {
  location.href = "/Products2";
}
function moveHomePage() {
  location.href = "/";
}

function moveBuyPage() {
  location.href = "/buy";
}

function movAboutPage() {
    location.href = "/About";
}

function movConnectPage() {
    location.href = "/Connect";
}

function movWhatsNewPage() {
    location.href = "/WhatsNew";
}

//Allow the slide show in the right page
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}


</script>

</body>
</html>