
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submit</title>
<link rel="stylesheet" href="homepagedesign.css" />
<link rel="stylesheet" href="login window.css" />
<link rel="stylesheet" href="table.css" />
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
</head>
<body>

<div class="logo">
    <img src="logo.jpg" alt="logop" width="1000" height="331">
    <div class="welcome">Welcome</div>
</div>

<div class="menu">

        <div class="b">menu</div>

    <button class="big-button" onclick="moveProdPage()">Products</button>
    <button class="big-button" onclick="movAboutPage()">About</button>
    <button class="big-button" onclick="myFunction()">What new</button>
    <button class="big-button" onclick="moveBuyPage()">buy</button>
    <button class="big-button" onclick="moveHomePage()">Home</button>
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
<div class="centered">
<div class="content-table" data-url="/basicNames"></div>
</div>
    </table>
  </div>
</div>

<div class="separateOrder">
    <h1>hello</h1>
</div>

</body>

<script>
    //move button functions
  function moveProdPage() {
  location.href = '/Products2';
}
function moveHomePage() {
  location.href = "/new";
}

function moveBuyPage() {
  location.href = "/buy";
}

function movConnectPage() {
    location.href = "/Connect";
}


//check if the user filled a shopping cart, if true display it if not create a message
    async function updateTable(root){
        const table = root.querySelector(".content-table");
        const response = await fetch('/basicNames');//await fetch("/data");
        const headers = ['שם מוצר', 'כמות'];
        const nonProd=['לא נמצאו מוצרים בסל הקניות. אנא חזרו ומלאו שוב את הסל'];

        if(products['products'].length === 0) {
            console.log("no")
            table.querySelector("thead tr").innerHTML = '';
            table.querySelector("tbody").innerHTML = '';
            table.querySelector('thead tr').insertAdjacentHTML('afterbegin', `<th>${ nonProd }</th>`);
        }
        else {
            var prodLst=products['products'];
            console.log("yes")
            //console.log(prodLst)
            var prodsSultan=products['prodsSultan'];
            var missSultan=products['missSultan'];
            // Clear Table
            table.querySelector("thead tr").innerHTML = '';
            table.querySelector("tbody").innerHTML = '';
            for (const header of headers){
                table.querySelector('thead tr').insertAdjacentHTML('afterbegin', `<th>${ header }</th>`);
            }
            console.log("**prod sultan:");
            for(const row of prodsSultan){
                console.log(row);
            }
            console.log("**miss sultan:");
            for(const row of missSultan){
                console.log(row);
            }

            console.log("**products list:");
            for (const row of prodLst){
                console.log(row);

            table.querySelector('tbody').insertAdjacentHTML('beforebegin', `
            <tr>
                <td>${ row.quantity }</td>
                <td>${row.basicName}</td>
            </tr>
        `);
        }
        }
    }

    var shoplst=window.localStorage.getItem('Shopping cart list');
    var products = JSON.parse(shoplst);

    for (const root of document.querySelectorAll('.content-table[data-url]')){
        const table = document.createElement('table');
        table.classList.add('content-table')
        table.innerHTML = `
            <thead>
                <tr></tr>
            </thead>

            <tbody>
                <tr>
                    <td>Loading</td>
                </tr>
            </tbody>
        `;

         root.append(table);
         updateTable(root);

    }

</script>
</html>