<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <form action="/"><input type="submit" value="HomePage" /></form>
            <form action="/Products2"><input type="submit" value="Products" /></form>
        </ul>
</nav>